<div id="articles">
  <div class="text-center">
    <h2>Listing all articles</h2>
    <%= link_to 'Create new article', new_article_path, class: 'btn btn-primary mb-4' %>
  </div>

  <%= render 'articles', obj: @articles %>

</div>