<%= render 'shared/errors', obj: @user %>

<div class='row justify-content-center'>
  <div class='col-md-8'>
    <h1 class="text-center">Update your account</h1>
    <%= render 'form' %>
  </div>

  <div class="col-12 text-center">
    [ <%= link_to "Cancel request and return to articles listing", articles_path %> ]
  </div>


</div>