<div class="container">
  <div class="footer">
    <small>
      Copyright &copy; <a href="">Bla Bla Bla</a> by <a href="">Blank</a>
    </small>
    <nav>
      <ul>
        <li><%= link_to 'About', about_path %></li>
      </ul>
    </nav>
  </div>
</div>